.landing-body{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 50vh);
    margin: 0 auto;
    width: 90%;
}
@media only screen and (min-width: 992px){
    .landing-body{
        width: 950px;
        margin: 0 auto;
    }
}
.typed-text-name{
    font-size: 2rem;
    display: block;
}
.typed-text-description{
    font-size: 2rem;
    display: block;
}