
.ReactModalPortal .ReactModal__Overlay {
  -webkit-animation: fadein 0.2s linear forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s linear forwards; /* Firefox < 16 */
  -ms-animation: fadein 0.2s linear forwards; /* Internet Explorer */
  -o-animation: fadein 0.2s linear forwards; /* Opera < 12.1 */
  animation: fadein 0.2s linear forwards;

}
.animationFadeIn{
  -webkit-animation: fadein 0.2s linear forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s linear forwards; /* Firefox < 16 */
  -ms-animation: fadein 0.2s linear forwards; /* Internet Explorer */
  -o-animation: fadein 0.2s linear forwards; /* Opera < 12.1 */
  animation: fadein 0.2s linear forwards;
}
.animationFadeOut{
  -webkit-animation: fadeout 0.2s linear forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 0.2s linear forwards; /* Firefox < 16 */
  -ms-animation: fadeout 0.2s linear forwards; /* Internet Explorer */
  -o-animation: fadeout 0.2s linear forwards; /* Opera < 12.1 */
  animation: fadeout 0.2s linear forwards;
}
@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#navigation{
  float: right;
  margin: 1% 0 1% 1%;
  font-size: 1.7vh;
}
hr{
  clear:both;
  margin:0;
  padding: 0;
}
#close{
  clear: both;
  float: right;
  font-size: 1.7vh;
}

#warning{
  color: red;
}

ul {
  list-style-type: none;

}

#javaLogo{
  display:inline-block;
  width: 10vh;
  height:5.6vh;
  background-image: url("../../../assets/img/java.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#angularJSLogo{
  display:inline-block;
  width: 10vh;
  height:2.5vh;
  background-image: url("../../../assets/img/AngularJS.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#reactJsLogo{
  display:inline-block;
  width: 10vh;
  height:9.5vh;
  background-image: url("../../../assets/img/reactJS.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#javaScriptLogo{
  display:inline-block;
  width: 10vh;
  height:10vh;
  background-image: url("../../../assets/img/javascript.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#cplusplusLogo{
  display:inline-block;
  width: 10vh;
  height:5.5vh;
  background-image: url("../../../assets/img/c++.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.twoStars{
  display:inline-block;
  width: 10vh;
  height:2.5vh;
  background-image: url("../../../assets/img/2stars.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.threeStars{
  display:inline-block;
  width: 10vh;
  height:2.5vh;
  background-image: url("../../../assets/img/3stars.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.stackElement{
  margin:15px 30px 15px 30px;
}

.stackHeaderLeft{
  float: left;
  margin-left: 30px;
}

.stackHeaderRight{
  float: right;
  margin-right: 15px;
}

.stack{
  display:block;
  text-align: center;
}



.scroll{
  overflow-y: auto;
}

/*.ReactModal__Body--open {*/
  /*overflow: hidden;*/
/*}*/

.modalText{
  font-size: 2vh;
}

.modalHeader{
  font-size: 3vh;
}

.transformationContainer{
  text-align: center;
}
.transformationBlock{
  display: inline-block;
  margin: 4vh 6vh 0 6vh;
}
.transformationText{
  clear:both;
  font-size: 3vh;
  display: block;
}
#meBefore{
  background-image: url("../../../assets/img/meBefore.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#meAfter{
  background-image: url("../../../assets/img/meAfter.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
}

.myPics{
  display:block;
  width: 20vh;
  height:35vh;
  border-radius: 2vh;
}


