html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.MainPage{
    background-color: white;
    width: 100%;
}

#greeting{
    width:100%;
    height: 30vh;
    text-align: center;
    display:inline-block;
    background-color: whitesmoke;
    position: relative;
    /*margin-top:44px;*/
    background-color: #e1e8f0;
}

.topBar{
    width: 100%;
    z-index: 10;
    position: fixed;
}
.greeting-text{
    font-size: 8vh;
    position: relative;
    color: black;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper{
    text-align: center;
    padding:6vh 0;
    /*margin: 0 20vh;*/
    /*border-radius: 10vh;*/
}
#section-profile-pic{
    display:inline-block;
    width: 50vh;
    height:50vh;
    /*margin: 0 10px 0 10px;*/
    /*padding: 0 4vh 0 4vh;*/
    border-radius: 25vh;
    background-image: url("../../assets/img/me.jpg");
    background-size: 100%;
}

.section-profile-right{
    display:inline-block;
    width: 50vh;
    height: 35vh;
    font-size: 2vh;
    text-align:left;
    word-wrap: break-word;
    /*border-radius: 15vh;*/
    vertical-align: top;
    padding-top: 3vh;
}
.section-profile-text{
    padding: 20px 30px;
    top:0px;
    margin-left: 10px;
    color: white;
    width: 50vh;
}
#learnMore{
    height: 6vh;
    width: 20vh;
    font-size:2.5vh;
    display: block;
    margin-top: 15px;
}

.section-header-text{
    font-size: 5vh;
    margin-bottom: 4vh;
    margin-top: -4vh;
    display: block;
    position: relative;
    color: black;
    white-space: nowrap;
}

#section-experience-pic{
    display:inline-block;
    /*margin: 0 4vh 0 4vh;*/
    /*padding: 0 4vh 0 4vh;*/

    /*margin: 0 10px 0 10px;*/
    width: 50vh;
    height:50vh;
    vertical-align: top;
    border-radius: 25vh;
    background-image: url("../../assets/img/ethoca.png");
    background-size: 100%;
}

#section-project-pic{
    display:inline-block;
    /*padding: 0 4vh 0 4vh;*/
    /*margin: 0 10px 0 10px;*/
    width: 50vh;
    height:50vh;
    vertical-align: top;
    border-radius: 25vh;
    background-image: url("../../assets/img/ballrathon.jpg");
    background-size: 100%;
}

#contact-wrapper{
    padding: 5vh 0 5vh 0;
    text-align: center;
    background-color: #ffe6e6;
}

.contact-blocks{
    width: 23vh;
    height: 23vh;
    display:inline-block;
    border-radius: 15vh;
    margin: 5vh 10vh 5vh 10vh;
    position: relative;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    transition:transform .3s, border .3s;
    -webkit-transition:-webkit-transform .3s, border .3s;
    -moz-transition:-moz-transform .3s, border .3s;
}
.contact-blocks:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    transition:transform .3s, border .3s;
    -webkit-transition:-webkit-transform .3s, border .3s;
    -moz-transition:-moz-transform .3s, border .3s;
}

#contact-github{
    background-image: url("../../assets/img/github.png");
    background-size: 100%;
}

#contact-linkedin{
    background-image: url("../../assets/img/linkedin.png");
    background-size: 100%;
}

#contact-instagram{
    background-image: url("../../assets/img/instagram.png");
    background-size: 100%;
}

#contact-resume{
    background-image: url("../../assets/img/resume.png");
    background-size: 100%;
}

#aboutMe-wrapper{
    background-color: #c0dfd9;
}

#experience-wrapper{
    background-color: #d1e0b8;
}
#project-wrapper{
    background-color:  #737373;
}

#aboutMe-text{
    background-color: #b3c9e6;
}

#experience-text{
    background-color: #c5d8a6;
}
#project-text{
    background-color:  #bfbfbf;
}

html{
    scroll-behavior: smooth;
}


nav.stroke  {
    width: 100%;
    margin: 0 auto;
    background: #1A1A1A;
}
nav.stroke  ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
nav.stroke  ul li {
    display: inline-block;
}
nav.stroke  ul li a,
nav.stroke  ul li a:after,
nav.stroke  ul li a:before {
    transition: all .5s;
}
nav.stroke  ul li a:hover {
    color: #ffffff;
}

nav.stroke ul li a{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #aaa;
    font-weight: 800;
    font-size: 1.2vh;
    text-transform: uppercase;
}
nav.stroke ul li a:after{
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    width: 0;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;

}
nav.stroke ul li a:hover:after {
    width: 100%;
}

.landing{
    height: 100vh;
    background-color: black;
    color: white;
}
canvas{
    position: absolute;
}


