.MainPage{
}

.section{
    width:100%;
    height: 40vh;
    text-align: center;
    display:inline-block;
}

.section-aqua{
    height: 40vh;
    background: aqua;
}

.section-text{
    font-size: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#navBar{
    display:inline-block;
    float:right;
}

#name{
    font-size: 1.5em;
    display:inline-block;
}

.profile-wrapper{
    text-align: center;
}
.section-profile-pic{
    display:inline-block;
    width: 45vh;
    height: 45vh;
    background-image: url("../../assets/img/me.jpg");
    background-size: 100%;
    border-radius: 22.5vh;
    margin: 0 50px;
    vertical-align: top;
}
.section-profile-right{
    display:inline-block;
    width: 70vh;
    height: 45vh;
    font-size: 2em;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    margin: 0 50px;
    border-radius: 15vh;
    vertical-align: top;
}
.section-profile-text{
    padding:5vh;
}


