.header{
    text-align: center;
    height: 100vh;
    background-color: #ffffff;
}

#header-text{
    font-size: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fadingAnimation{
    -webkit-animation: fadeinout 3s linear forwards;
    -o-animation: fadeinout 3s linear forwards;
    -moz-animation: fadeinout 3s linear forwards;;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@-o-keyframes fadeinout{
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeinout{
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
